/*:root {
  color-scheme: light dark;
}

body {
  color: light-dark(#000000, #cecece);
  background-color: light-dark(#cecece, #000000);
}*/


html,
main {
  width: 100%;
}

body {
  font-size: 16px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

.header-title {
  font-size: 1.5rem;
}


header.desktop,
header.mobile {
  width: calc(100% - 14px);
}

[theme=light] [role="link"]:focus {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
  background-color: #000;
}

[theme=dark] [role="link"]:focus {
  cursor: pointer;
  text-decoration: underline;
  color: #000;
  background-color: #fff;
}


a.skip-link {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  z-index: 1000;

  /* Hide visually but keep accessible */
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

a.skip-link:focus {
  width: auto;
  height: auto;
  clip: auto;
  overflow: visible;
  white-space: normal;
  border: 2px solid #fff;
  border-radius: #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  background-color: #000;
}


img {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

body[theme=dark] {
  color: #cecece;
  background-color: #000000;
}

body[theme=light] {
  color: #000000;
  background-color: #cecece;
}

[theme=light] a {
  color: #0000cc;
}

[theme=dark] a {
  color: #8F8FFF;
}

[theme=light] a:visited {
  color: #590094;
}

[theme=dark] a:visited {
  color: #B47EE7;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header-desktop .menu-item {

  margin: 0.5rem;
}


.menu-inner,
#menu-mobile {
  float: right;
  /*display: inline-flex;*/
  align-items: stretch;
  /*align-items: center;*/
  /*margin-right:3%;*/
}

#header-mobile>div>div.header-wrapper {
  float: left;
}

[theme=light] a.menu-item,
[theme=light] .header-title a,
[theme=light] .menu-item>i {
  color: #000000;
}


.header-wrapper {
  justify-content: space-between;
  display: flex;
}

.header-title {
  font-weight: 700;
}

/* Hamburger Menu Code: */
svg {
  padding-top: 15px;
}

img.profile-image {
  max-width: 100%;
  height: 200px;
  width: 200px;
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
}

nav ul {
  list-style-type: none;
}

nav ul.menu-inner li {

  margin: 0.3em 1em;
}

nav ul li {
  display: inline-flex;
}


nav input[type='checkbox'],
nav label {
  display: none;
}

[theme=dark] svg.light {
  display: none;
}

[theme=light] svg.dark {
  display: none;
}

nav.header-container ul {
  margin-block-start: -0.2em;
  margin-block-end: 0em;
  padding-inline-start: 0em;
}


.menu-icon {
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}

.menu-icon svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.7s ease;
}

.menu-icon .open {
  opacity: 1;
}

.menu-icon .close {
  opacity: 0;
}

.header-container:has(#menu:checked) .menu-icon .open {
  opacity: 0;
}

.header-container:has(#menu:checked) .menu-icon .close {
  opacity: 1;
}


header.desktop div.menu div.menu-inner {
  padding-right: 10px;
}


[theme=light] textarea,
[theme=light] input,
[theme=light] button {
  background-color: #e6e6e6;
  color: #353535;
}

[theme=dark] textarea,
[theme=dark] input,
[theme=dark] button {
  color: #e6e6e6;
  background-color: #353535;
}

[theme=light] #breadcrumbs {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
[theme=dark] #breadcrumbs {
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

#breadcrumbs {
  font-size: 0.95rem;
  padding: 10px 15px;
  /*margin: 1rem auto;*/
  width: fit-content;
  border-radius: 8px;
  backdrop-filter: blur(6px);
}

#breadcrumbs a {
  text-decoration: none;
  transition: color 0.2s ease;
}

#breadcrumbs a:hover {
  text-decoration: underline;
}

#breadcrumbs .breadcrumb_last {
  font-weight: bold;
}

ul.social-media-list li
{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

header,
nav {
  position: sticky;
  top: 0;
  z-index: 100;
}


[theme=dark] header,
[theme=dark] nav {
  background-color: #0e0e0e;
  box-shadow: 0px 0px 1rem 0 rgb(19 19 19);
  -webkit-box-shadow: 0 0 0.5rem 0 rgb(200 200 200 / 10%);

}

[theme=light] header,
[theme=light] nav {
  background-color: #bcbcbc;
  box-shadow: 0px 0px 1rem 0 rgb(100 100 100);
  -webkit-box-shadow: 0 0 0.5rem 0 rgb(0 0 0 / 10%);
}



[theme=dark] h1,
[theme=dark] h2,
[theme=dark] h3,
[theme=dark] h4 {
  color: #d1d1d1;
}

[theme=light] h1,
[theme=light] h2,
[theme=light] h3,
[theme=light] h4 {
  color: #000000;
}

header {
  height: 3rem;
  line-height: 3rem;
  padding-left: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 4px;

}

[theme=dark] a.menu-item,
[theme=dark] .header-title a,
[theme=dark] .menu-item>i {
  color: #ffffff;
}

main {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  width: 90%;
  max-width: 550px;
}

form input,
form textarea {
  width: 60%;
  max-width: 550px;
}

form textarea {
  height: 60px;
}

#header-mobile {
  display: none;
}



@media only screen and (max-width: 380px) {
  #header-desktop {
    display: none;
  }

  #header-mobile {
    display: flex;
  }

  nav {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }


  .menu-inner {
    display: inline-flex;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }

  /*
  [theme=dark] ul.menu-inner li {
    color: #ffffff;
  }

  [theme=dark] ul.menu-inner li:not(:last-child) {
    border-right: 1px solid #ffffff;
  }

  [theme=light] ul.menu-inner li {
    color: #000000;
  }

  [theme=light] ul.menu-inner li:not(:last-child) {
    border-right: 1px solid #000000;
  }*/

  nav ul {
    display: block;
  }

  nav ul:last-child {
    width: 100%;
    flex-basis: 100%;
  }

  nav ul li {
    margin-bottom: 0;
    width: 100%;
    text-align: left;
    padding: 0.5em;
  }

  input[type="checkbox"]:not(:checked)+ul {
    display: none;
  }

  nav label {
    text-align: right;
    display: block;
    padding: 0 11px 6px 20px;
  }

}

@media only screen and (max-width: 300px) {
  .menu-inner {
    display: grid;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-left: 2em;
  }

  img.profile-image {
    max-width: 100%;
    height: 50vw;
    width: auto;
  }

}