body
{
    background-color:#cecece;
    color:#000000;
    font-size: 16px;
}

body[theme=dark]
{
    color:#cecece;
    background-color:#000000;
}


a
{
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

#header-desktop .menu-item, #header-mobile
{

    margin:0 .5rem;
}

.menu-inner
{
    float:right;
}

[theme=light] a.menu-item, [theme=light] .header-title a, [theme=light] .menu-item > i
{
    color:#000000;
}


.header-wrapper
{
    justify-content: space-between;
    display: flex;
}



#header-mobile {
  display: none;
  position: static;
}

@media only screen and (max-width: 680px) {
  #header-desktop {
    display: none;
  }

  #header-mobile {
    display: block;
  }

}


[theme=dark] a.menu-item, .header-title a, .menu-item > i
{
    color:#ffffff;
}
